<div class="videoContainerforView" id="videoContainerforView">
    <video id="videoViewer"
    class="videoViewer"  [attr.src]="src | secure | async" 
    controls>
    </video>
</div>

<div *ngIf="video !== undefined ">
    <h1 class="title" maxlength="25">{{ video.title }}</h1>


    <hr class="description-div">

    <p class="description">
        {{ video.description }}
    </p>
</div>


<div class ="comment" *ngFor="let comment of comments">
    <div class ="profıle-ımage">
      <p id ="name">{{ comment.usern.charAt(0).toUpperCase() }}</p>
    </div>
    <div class ="username">{{ comment.usern }}</div>
    <div class ="user-comment">
      <p>{{ comment.comment }}</p>
      <div style ="clear:both;"></div>
      <span>5 days ago</span>
    </div>
</div> 