p {
    margin: 0;
    text-indent: 2rem;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
  }
.bg-dark
{
  cursor: pointer;
}
h3
{
  font-family: 'Open Sans', sans-serif;

}

.mat-tooltip {
  top: 104px;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
}


.vidBackground:hover
{
  background-color: #f1f1f1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: pointer;
  z-index: 1;
  
}

video:hover
{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.vidBackground
{
    margin-bottom: 15%;
}

.vidTitle
{
  margin-left: 13%;
}

.vidUser
{
  margin-left: 6.5%;
}

.matGrid
{
  margin-top: 3%;
}