p {
    margin: 0;
    text-indent: 2rem;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
  }
.bg-dark
{
  cursor: pointer;
}
h3
{
  font-family: 'Open Sans', sans-serif;

}

.mat-tooltip {
  top: 104px;
}