.profile-image-img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 55%;
    margin-left: 45%;
    cursor: pointer;
}

.sutileBackground
{
    background-color: #f7f7f7;
}

.userName
{
    text-align: center;
}